body {
    background: white;
    font-family: Arial;
    margin: 0;
}

h1, h2 {
    color: #555;
    font-family: Impact;
}

a {color:white}
p {
    background:#666;
    color: white;
    padding: 10px;
}

.secondary {
    margin-right: 250px;
    margin-left: 1000px;
    margin-top: 100px;
}

div#left {position: absolute}

div#right {
    position: absolute;}

header {
    background: #999;
    color: white;
    padding:15px 15px 0 15px;
}

nav ul{
    margin: 0;
    float:right;
}

nav ul li {
    background: darkblue;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
    position: static;
}

nav ul li:hover{
    color: white;
    background-color: darkgreen;
}
.active {background: darkgreen}

div#signup {margin: auto;
text-align: center
}

div#contactimg {
text-align: center;
}